{{ define "cluster" }}{{ .ExternalURL | reReplaceAll ".*alertmanager\\.(.*)" "$1" }}{{ end }}
{{ define "slack.alert" }}
{{- $root := . -}}
{{ range .Alerts }}
  *Alert:* {{ .Annotations.title }}{{ if .Labels.severity }} - `{{ .Labels.severity }}`{{ end }}
  *Description:* {{ .Annotations.description }}
  *Grafana URL:* http://grafana.donthurt.us/alerting/list?view=state
  *Details:*
    {{ range .Labels.SortedPairs }} - *{{ .Name }}:* `{{ .Value }}`
    {{ end }}
{{ end }}
{{ end }}
