---
version: "{{ compose['compose_file']['composeVersion'] }}"

x-minio-common: &minio-common
  image: {{ minio_config['image'] }}
  command: server --console-address ":9001" http://minio{1...4}/data{1...2}
  expose:
    - "9000"
    - "9001"
  environment:
    MINIO_ROOT_USER: admin
    MINIO_ROOT_PASSWORD: {{ minio_admin_password }}
    MINIO_PROMETHEUS_URL: 'http://prometheus:9090/'
    MINIO_PROMETHEUS_JOB_ID: 'minio-job'
  restart: unless-stopped
  networks:
  - monitoring
  healthcheck:
    test: ["CMD", "curl", "-f", "http://localhost:9000/minio/health/live"]
    interval: 30s
    timeout: 20s
    retries: 3

services:
{% for container in compose['containers'] %}
  {{ container.name }}:
    image: {{ container.image }}
    container_name: {{ container.name }}
{% if container.volumes is defined %}
    volumes: {{ container.volumes }}
{% endif %}
{% if container.command is defined %}
    command: {{ container.command }}
{% endif %}
{% if container.ports is defined %}
    ports: {{ container.ports }}
{% endif %}
{% if container.networks is defined %}
    networks: {{ container.networks }}
{% endif %}
{% if container.depends_on is defined %}
    depends_on: {{ container.depends_on }}
{% endif %}
    restart: {{ compose['compose_file']['restartPolicy'] }}
{% if container.environment is defined %}
    environment:
{% for k, v in container.environment.items() %}
      {{ k }}: {{ v }}
{% endfor %}
{% endif %}
{% endfor %}
{% for node in ['1', '2', '3', '4'] %}
  minio{{ node }}:
    <<: *minio-common
    hostname: minio{{ node }}
    container_name: minio{{ node }}
    volumes:
      - data{{ node }}-1:/data1
      - data{{ node }}-2:/data2
{% endfor %}

networks:
  monitoring:
    name: monitoring
    driver: bridge
  frontend:
    name: frontend
    driver: bridge

volumes:
  prometheus_data: {}
  alertmanager: {}
  loki: {}
  grafana: {}
  mimir: {}
{% for node in ['1', '2', '3', '4'] %}
  data{{ node }}-1: {}
  data{{ node }}-2: {}
{% endfor %}