---
version: "{{ compose['compose_file']['compose_version'] }}"
{% for container in compose['containers'] %}
services:
  {{ container.name }}:
    image: {{ container.image }}
    container_name: {{ container.name }}
{% if container.volumes is defined %}
    volumes:
    {{ container.volumes }}
{% endif %}
{% if container.command is defined %}
    command:
    {{ container.command }}
{% endif %}
{% if container.ports is defined %}
    ports:
    {{ container.ports }}
{% endif %}
{% if container.networks is defined %}
    networks:
    {{ container.networks }}
{% endif %}
{% if container.depends_on is defined %}
    depends_on:
    {{ container.depends_on }}
{% endif %}
    restart: {{ compose['compose_file']['restartPolicy'] }}
{% endfor %}

networks:
  monitoring:
    name: monitoring
    driver: bridge

volumes:
    prometheus_data: {}
    alertmanager: {}